/jqMobile/jquery.mobile-1.4.5/demos/css/themes/default/images/icons-png
/jqMobile/jquery.mobile-1.4.5/demos/css/themes/default/images/icons-svg
/jqMobile/jquery.mobile-1.4.5/demos
/jqMobile/jquery.mobile-1.4.5
/www/itpw.db3
/www/olegmorozov.db3
