/** HTML5/CSS3, EDGE/CHROME                                 *** Stylesm.css ***

 ******************************************************************************
 * ittve.pw                 Определить начальные стили мобильной версии сайта *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 26.04.2021
*/
html
{
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}
/* Устанавливаем размеры шрифтов по умолчанию */
body 
{
  /*<meta name='viewport' content='width=310,initial-scale=1'/>*/
  /*background-color:#CCFFFF;*/

  font-size: 1rem;  
  width: 100%;        
}
/* Определяем размер и зеленый цвет заголовков */
h1 
{
  font: bold italic 1.4rem Baskerville, "Palatino Linotype", "Times New Roman", serif;
  /*color: #46874D;*/
  text-align: center;
}
.dibtn, #bTasks, #bHandoright
{ 
  border-radius: 5px;
  width: 35px; 
  border: 4px double #3388CC; 
  padding: 3px 3px 3px 3px; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  text-align: center;
}
#bTasks
{
  float: left;
  margin-left: 5px;
}
#c1Title, #c2Title
{
  float: left;
  margin-left: 5px;
}
#bHandoright
{
  float: left;
  margin-left: 5px;
}
#cCenter  
{
  text-align: justify;
}
#exPhp  
{
  text-align: justify;
}

/*
 ************************************************************** Stylesm.css ***
*/	
