/** HTML5/CSS3, EDGE/CHROME                                 *** Stylesm.css ***

 ******************************************************************************
 * ittve.pw                 Определить начальные стили мобильной версии сайта *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 26.04.2021
*/
html
{
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}
/* Устанавливаем размеры шрифтов по умолчанию */
body 
{
  font-size: 1rem;  
  width: 100%;        
}
/* Определяем размер и зеленый цвет заголовков */
h1 
{
  font: bold italic 1.4rem Baskerville, "Palatino Linotype", "Times New Roman", serif;
  color: #46874D;
  text-align: center;
}
/* Закругляем кнопки */
#bTasks, #bHandoright
{ 
  border-radius: .5rem;
  width: 2rem; 
}
#iTasks
{
  margin-left: 0;
  
}
#bTasks
{
float: left;
  margin-left: .5rem;
}
#cTitle
{
float: left;
}
#bHandoright
{
float: right;
}
#cCenter  
{
  text-align: justify;
}
#exPhp  
{
  text-align: justify;
}

/*
 ************************************************************** Stylesm.css ***
*/	
