/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***

 ******************************************************************************
 * ittve.pw                                        Определить начальные стили *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 25.11.2018
*/

// В начале стилевого файла подключаем динамические стили

//@import "Reset.css"; 



/* Содержим поля в ширине блока (кроме margin) */
* 
{
   box-sizing: border-box;
}
 
/* Выравниваем базовую линию блока по базовой линии родителя */
html, body,
a, abbr, acronym, address, article, aside, audio, b, big, blockquote,
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, 
em, embed,  
fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, 
object, ol, output, p, pre, q, ruby, 
s, samp, section, small, span, strike, strong, sub, summary, sup, 
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Снимаем умалчиваемый стили браузеров при фокусировании на поле ввода */
*:focus 
{
   outline: none;
}

/* Все секции представляем, как блоки */
article, aside, details, div, figcaption, figure, footer, header, hgroup, 
menu, nav, section 
{
	display: block;
}

/* Нумеруем списки арабскими числами (1,2,3,4,...) */
ol 
{ 
	list-style: decimal;
}

/* Ставим маркер в виде квадрата в маркированных списках */
ul 
{
	list-style: square;
}

/* Склеиваем линии между ячейками */
table 
{
	border-collapse: collapse;
} 

/**
 Определяем базовый шрифт.
*/
html
{
   font-family: 'Anonymous Pro', monospace;
   font-size: 16x;
}

/* Устанавливаем размеры шрифтов по умолчанию */
body 
{
   font-size: 1rem;  
}

h1 
{
	font: bold italic 1.8rem Baskerville, "Palatino Linotype", "Times New Roman", serif;
	color: #46874D;
	//background: url(../images/underline.png) no-repeat 0px 88%;
	/*padding-left: 0.5rem;*/
}



/* Оформляем шапку */
#hBlock
{
   display: inline-block;
   position: fixed;     
   left: 0; top: 0;     
   width: 100%;        
   height: 2.8rem;         
   z-index: 101;
   //background: radial-gradient(farthest-side ellipse at top left,#ffffff 0,#f7f7f7 100%);
   background-color: #ffffff;
} 


#Buttons
{
   float: left;
} 
#Informs
{
   float: right;
   margin: 0.2rem 0.3rem 0 0.3rem; 
} 
/* Оформляем строку параметров сайта */
#pLine
{
   color: #60472E;
   text-align: right; 
   padding: 0 0.3rem 0 0.3rem; 
	// background-color: #899504;
   // display:none;
   // height: 0;
} 
/* Оформляем навигацию в глубину сайта */
#tLine
{
   color: #F37313;
   margin: 0.2rem 0 0 0; 
   padding: 0.1rem 0.3rem 0.1rem 0.3rem; 
   text-align: right; 
   background: radial-gradient(farthest-side ellipse at top left,#f9f6f1 0,#d7d0c5 100%);
   // display:none;
   // height: 0;
} 

/* Размещаем кнопки */

.btnItPW 
{
   margin: 0 0 0 -0.4rem; 
}
.imgItPW // в стилях должен идти после контейнера btnItPW
{
   width: 2rem;
   height: 2rem;
}
#btnMenu 
{
   margin: 0 0 0 0.2rem; 
   color: #FFFFFF;
   background: radial-gradient(farthest-side ellipse at top left, #657,  #000);
}
#btnMenu:hover 
{
   color: #FFFFFF;
   background: radial-gradient(farthest-side ellipse at top left, #444,  #000);
}
#btnMenu:active 
{
   color: #FFFFFF; 
   background: radial-gradient(farthest-side ellipse at top left, #000,  #444);
}
#btnLazi 
{
   background: radial-gradient(farthest-side ellipse at top left, #faa51a,  #f47a20);
   /*background: radial-gradient(farthest-side ellipse at top left, #fff,  #f47a20);*/
}
#btnLazi:hover 
{
   background: radial-gradient(farthest-side ellipse at top left, #f88e11,  #f06015);
}
#btnLazi:active 
{
   background: radial-gradient(farthest-side ellipse at top left, #f47a20,  #faa51a);
   /*
   background: -webkit-gradient(radial, farthest-side ellipse at top left, from(#f47a20), to(#faa51a));
   background: -moz-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background: -ms-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background: -o-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   background-image: -o-radial-gradient(farthest-side ellipse at top left,  #f47a20,  #faa51a);
   */
}
#btnJava 
{
   background: radial-gradient(farthest-side ellipse at top left, #fff,  #ededed);
}
#btnJava:hover 
{
   background: radial-gradient(farthest-side ellipse at top left, #fff,  #dcdcdc);
}
#btnJava:active 
{
   background: radial-gradient(farthest-side ellipse at top left, #ededed,  #fff);
}
#btnPhp 
{
   background: radial-gradient(farthest-side ellipse at top left, #feb1d3,  #f171ab);
}
#btnPhp:hover 
{
   background: radial-gradient(farthest-side ellipse at top left, #f4aacb,  #e86ca4);
}
#btnPhp:active 
{
   background: radial-gradient(farthest-side ellipse at top left,  #f171ab,  #feb1d3);
}


/* Позиционируем центральные секции */

#lSideTOrSide
{
   width: 100%;        
   margin: 3rem 0 3rem 0; 
   background-color: #ffffff;
}
#lSide 
{
   float: left;
   width: 18%;
   /* Отодвигаем текст от границ колонки */
   padding: 0 0.6rem 0.6rem 0.6rem; 
}

#cCenter  
{
   float: left;
   width: 35%;
   /* Отодвигаем текст от границ колонки */
   padding: 0 0.6rem 0.6rem 0.6rem; 
   /* Отделяем бордюром основную тему страницы справа и слева */
   border-left:  dashed 0.1rem rgb(153,153,153);
   border-right: dashed 0.1rem rgb(153,153,153);
}
#rSide  
{
   float: right;
   width: 42%;
   /* Отодвигаем текст от границ колонки */
   padding: 0 0.6rem 0.6rem 0.6rem; 
   font-weight: bold;
}

// ----


/* Оформляем подвал 
footer 
{
   color: rgb(204,204,204);
	background-color: black;
   clear: both;
   
   position: fixed;     
   left: 0; bottom: 0;  
   width: 100%;         
   height: 4.8rem;         
}
 
footer a {
	color: white;	
}
*/

/*
 *************************************************************** Styles.css ***
*/	
	

