/** HTML5/CSS3, EDGE/CHROME                                 *** mStyles.css ***

 ******************************************************************************
 * ittve.pw                 Определить начальные стили мобильной версии сайта *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 06.12.2018
*/

/* Содержим поля в ширине блока (кроме margin) */
* 
{
   box-sizing: border-box;
}
 
/* Выравниваем базовую линию блока по базовой линии родителя */
html, body,
a, abbr, acronym, address, article, aside, audio, b, big, blockquote,
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, 
em, embed,  
fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, 
label, legend, li, mark, menu, nav, 
object, ol, output, p, pre, q, ruby, 
s, samp, section, small, span, strike, strong, sub, summary, sup, 
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Снимаем умалчиваемый стили браузеров при фокусировании на поле ввода */
*:focus 
{
   outline: none;
}

/* Все секции представляем, как блоки */
article, aside, details, div, figcaption, figure, footer, header, hgroup, 
menu, nav, section 
{
	display: block;
}

/* Нумеруем списки арабскими числами (1,2,3,4,...) */
ol 
{ 
	list-style: decimal;
}

/* Ставим маркер в виде квадрата в маркированных списках */
ul 
{
	list-style: square;
}

/* Склеиваем линии между ячейками */
table 
{
	border-collapse: collapse;
} 

/**
 Определяем базовый шрифт.
 Для простоты вычислений в качестве базового размера шрифта задаем 10 пикселей 
*/
html
{
   font-family: 'Anonymous Pro', monospace;
   font-size: 4mm;
}

/* Устанавливаем размеры шрифтов по умолчанию */
body 
{
   font-size: 2rem;  
}

h1 
{
	font: bold italic 2.4rem Baskerville, "Palatino Linotype", "Times New Roman", serif;
	color: #46874D;
	background: url(../images/underline.png) no-repeat 0px 88%;
	/*padding-left: 0.5rem;*/
}

/* Обеспечиваем общее позиционирование секций */

#hBlock
{
   color: #60472E;
	background-color: #E2D5C5;
} 

#lSideTOrSide
{
   /*
   margin: 4.5rem 0 4.5rem 0; 
    */
}
#lSide 
{
   display:none;
   color: #FFFFFF;
	background-color: #899504;
}
#cCenter  
{
   /*
   float: left;
   width: 41%; */
   /* Отодвигаем текст от границ колонки 
   padding: 0 0.6rem 0.6rem 0.6rem; */
   /* Отделяем бордюром основную тему страницы справа и слева 
   border-left:  dashed 0.1rem rgb(153,153,153);
   border-right: dashed 0.1rem rgb(153,153,153); */
}
#rSide  
{
   font-size: 2rem;  
}
/* Оформляем строку параметров сайта */
#pLine
{
   display:none;
   height: 0;
} 
/* Оформляем навигацию в глубину сайта */
#tLine
{
   display:none;
   height: 0;
} 

/* Оформляем подвал */
footer 
{
   color: rgb(204,204,204);
	background-color: black;
   clear: both;
   
   position: fixed;     /* Фиксированное положение */
   left: 0; bottom: 0;  /* Левый нижний угол */
   /* padding: 10px;        Поля вокруг текста */
   width: 100%;         /* Ширина слоя */
} 
footer a {
	color: white;	
}

/*
 *************************************************************** Styles.css ***
*/	
	

