/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***

 ******************************************************************************
 * ittve.pw                                        Определить начальные стили *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 25.11.2018
*/

/* Оформляем шапку */
#hBlock
{
   /*display: inline-block;*/
   position: fixed;     
   left: 0; 
   top: 0; 
   width: 100%;        
   height: 2.8rem; 
   background: radial-gradient(farthest-side ellipse at top left,#ffffff 0,#f7f7f7 100%);
}
#Informs
{
   float: right;
   margin: 0.2rem 0.3rem 0 0.3rem; 
} 
 Оформляем строку параметров сайта 
#pLine
{
   color: #60472E;
   text-align: right; 
   padding: 0 0.3rem 0 0.3rem; 
	/* 
   background-color: #899504;
   display:none;
   height: 0;
   */
}   
/* Оформляем навигацию в глубину сайта  */
#tLine
{
   color: #F37313;
   margin: 0.2rem 0 0 0; 
   padding: 0.1rem 0.3rem 0.1rem 0.3rem; 
   text-align: right;
   /* 
   background: radial-gradient(farthest-side ellipse at top left,#f9f6f1 0,#d7d0c5 100%);
   display:none;
   height: 0;
   */ 
} 
/* Позиционируем центральные секции */

#lSideTOrSide
{
   width: 100%;        
   margin: 3rem 0 3rem 0; 
   background-color: #ffffff;
   min-height: 100%;
}

#lSide 
{
   float: left;
   width: 18%;
   /* Отодвигаем текст от границ колонки */
   padding: 0 0.6rem 3.1rem 0.6rem; 
}


#cCenter  
{
   float: left;
   width: 35%;
   /* Отодвигаем текст от границ колонки */
   padding: 0 0.6rem 3.1rem 0.6rem;  
   /* Отделяем бордюром основную тему страницы справа и слева */ 
   border-left:  dashed 0.1rem rgb(153,153,153);
   border-right: dashed 0.1rem rgb(153,153,153);
}

#rSide  
{
   float: right;
   width: 47%;
   padding: 0 0.6rem 3.1rem 0.6rem; 
   font-weight: bold;
}

footer 
{
   position: fixed;
   width: 100%;
	color: #000000;	
   background: radial-gradient(farthest-side ellipse at top left,#d7d0c5 0,#f9f6f1 100%);  
   font-size: 0.8rem;  
   font-weight: bold;
   height: 3rem;         
   z-index: 101;
   left: 0;
   bottom: 0;
   padding-top: 0.3rem;
}
footer a 
{
	color: #000000;	
}
#Fooleft
{
   float: left;
} 
#Fooright
{
   float: right;
} 

/*
 *************************************************************** Styles.css ***
*/	
	

